*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.center {
  align-items: center;
  justify-content: center;
}

.invisible {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.left-\[100\%\] {
  left: 100%;
}

.left-\[5\%\] {
  left: 5%;
}

.top-0 {
  top: 0px;
}

.top-\[65\%\] {
  top: 65%;
}

.top-\[80\%\] {
  top: 80%;
}

.z-10 {
  z-index: 10;
}

.z-\[999999999\] {
  z-index: 999999999;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-28 {
  margin-bottom: 7rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mt-40 {
  margin-top: 10rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.size-10 {
  width: 2.5rem;
  height: 2.5rem;
}

.size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-7 {
  width: 1.75rem;
  height: 1.75rem;
}

.h-0 {
  height: 0px;
}

.h-1\/2 {
  height: 50%;
}

.h-16 {
  height: 4rem;
}

.h-2\/3 {
  height: 66.666667%;
}

.h-2\/4 {
  height: 50%;
}

.h-2\/6 {
  height: 33.333333%;
}

.h-20 {
  height: 5rem;
}

.h-24 {
  height: 6rem;
}

.h-32 {
  height: 8rem;
}

.h-36 {
  height: 9rem;
}

.h-4\/6 {
  height: 66.666667%;
}

.h-40 {
  height: 10rem;
}

.h-44 {
  height: 11rem;
}

.h-72 {
  height: 18rem;
}

.h-80 {
  height: 20rem;
}

.h-\[1000px\] {
  height: 1000px;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[1150px\] {
  height: 1150px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[160px\] {
  height: 160px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[360px\] {
  height: 360px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[450px\] {
  height: 450px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[600px\] {
  height: 600px;
}

.h-\[680px\] {
  height: 680px;
}

.h-\[800px\] {
  height: 800px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.min-h-96 {
  min-height: 24rem;
}

.min-h-\[400px\] {
  min-height: 400px;
}

.min-h-\[500px\] {
  min-height: 500px;
}

.min-h-\[550px\] {
  min-height: 550px;
}

.min-h-\[900px\] {
  min-height: 900px;
}

.min-h-\[90vh\] {
  min-height: 90vh;
}

.w-1\/2 {
  width: 50%;
}

.w-11\/12 {
  width: 91.666667%;
}

.w-3\/4 {
  width: 75%;
}

.w-3\/6 {
  width: 50%;
}

.w-6\/12 {
  width: 50%;
}

.w-60 {
  width: 15rem;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[310px\] {
  width: 310px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[70\%\] {
  width: 70%;
}

.w-full {
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.animate-anime1 {
  animation: anime1 3s linear alternate;
}

.animate-cube {
  animation: cube 3s ease-in-out infinite alternate;
}

.animate-pic1 {
  animation: pic1 linear infinite 15s;
}

.animate-pic2 {
  animation: pic2 linear infinite 15s;
}

.animate-pic3 {
  animation: pic3 linear infinite 15s;
}

.animate-scroll {
  animation: scroll 30s linear infinite alternate;
}

.animate-scroll2 {
  animation: scroll2 30s linear infinite alternate;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-center {
  align-content: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-x-1 {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.gap-x-3 {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.gap-y-5 {
  row-gap: 1.25rem;
}

.gap-y-7 {
  row-gap: 1.75rem;
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.space-y-16 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4rem * var(--tw-space-y-reverse));
}

.space-y-20 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(5rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-32 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(8rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(8rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-y-7 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}

.space-y-9 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.25rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.text-nowrap {
  text-wrap: nowrap;
}

.border {
  border-width: 1px;
}

.border-none {
  border-style: none;
}

.bg-\[\#121212\] {
  --tw-bg-opacity: 1;
  background-color: rgb(18 18 18 / var(--tw-bg-opacity, 1));
}

.bg-\[\#122330\] {
  --tw-bg-opacity: 1;
  background-color: rgb(18 35 48 / var(--tw-bg-opacity, 1));
}

.bg-bluelighti {
  --tw-bg-opacity: 1;
  background-color: rgb(237 247 252 / var(--tw-bg-opacity, 1));
}

.bg-grayii {
  --tw-bg-opacity: 1;
  background-color: rgb(33 33 33 / var(--tw-bg-opacity, 1));
}

.bg-lighty {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-orange-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(194 65 12 / var(--tw-bg-opacity, 1));
}

.bg-org1 {
  --tw-bg-opacity: 1;
  background-color: rgb(237 86 26 / var(--tw-bg-opacity, 1));
}

.bg-red-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(127 29 29 / var(--tw-bg-opacity, 1));
}

.bg-slate-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity, 1));
}

.bg-sor {
  --tw-bg-opacity: 1;
  background-color: rgb(18 35 48 / var(--tw-bg-opacity, 1));
}

.bg-sor3 {
  --tw-bg-opacity: 1;
  background-color: rgb(25 48 66 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-paternnn {
  background-image: url('../img/download.svg');
}

.bg-paternnnnnn {
  background-image: url('../img/download (2).svg');
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pb-36 {
  padding-bottom: 9rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-\[5\%\] {
  padding-bottom: 5%;
}

.pe-12 {
  padding-inline-end: 3rem;
}

.pe-20 {
  padding-inline-end: 5rem;
}

.pe-24 {
  padding-inline-end: 6rem;
}

.pe-32 {
  padding-inline-end: 8rem;
}

.pe-4 {
  padding-inline-end: 1rem;
}

.pe-40 {
  padding-inline-end: 10rem;
}

.pe-7 {
  padding-inline-end: 1.75rem;
}

.pe-\[10\%\] {
  padding-inline-end: 10%;
}

.pe-\[5\%\] {
  padding-inline-end: 5%;
}

.pe-\[60\%\] {
  padding-inline-end: 60%;
}

.pe-\[9\%\] {
  padding-inline-end: 9%;
}

.ps-0 {
  padding-inline-start: 0px;
}

.ps-3 {
  padding-inline-start: 0.75rem;
}

.ps-7 {
  padding-inline-start: 1.75rem;
}

.ps-8 {
  padding-inline-start: 2rem;
}

.ps-\[15\%\] {
  padding-inline-start: 15%;
}

.ps-\[2\%\] {
  padding-inline-start: 2%;
}

.ps-\[3\%\] {
  padding-inline-start: 3%;
}

.ps-\[5\%\] {
  padding-inline-start: 5%;
}

.ps-\[6\%\] {
  padding-inline-start: 6%;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pt-28 {
  padding-top: 7rem;
}

.pt-36 {
  padding-top: 9rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-\[20\%\] {
  padding-top: 20%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-Semi {
  font-family: semii;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[23px\] {
  font-size: 23px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[27px\] {
  font-size: 27px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[35px\] {
  font-size: 35px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[48px\] {
  font-size: 48px;
}

.text-\[50px\] {
  font-size: 50px;
}

.text-\[70px\] {
  font-size: 70px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-blue-400 {
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity, 1));
}

.text-blue-700 {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity, 1));
}

.text-blueeee {
  --tw-text-opacity: 1;
  color: rgb(81 140 189 / var(--tw-text-opacity, 1));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-lighty {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-orange-600 {
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity, 1));
}

.text-org1 {
  --tw-text-opacity: 1;
  color: rgb(237 86 26 / var(--tw-text-opacity, 1));
}

.text-org2 {
  --tw-text-opacity: 1;
  color: rgb(209 71 17 / var(--tw-text-opacity, 1));
}

.text-sor {
  --tw-text-opacity: 1;
  color: rgb(18 35 48 / var(--tw-text-opacity, 1));
}

.text-sor2 {
  --tw-text-opacity: 1;
  color: rgb(32 61 84 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.decoration-dotted {
  text-decoration-style: dotted;
}

.bg-blend-luminosity {
  background-blend-mode: luminosity;
}

.transition-\[10s\] {
  transition-property: 10s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[1s\] {
  transition-property: 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-100 {
  transition-duration: 100ms;
}

.duration-1000 {
  transition-duration: 1000ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

/* //////////////////////////////////////////////////////////////////////font famili/////////////// */

@font-face {
  font-family: semib;

  src: url(../fonts/Poppins-SemiBoldItalic.ttf);
}

@font-face {
  font-family: mycovy;

  src: url(../fonts/CodeSaver-Regular.otf);
}

/* ////////////////////////////////////////////////////////////////////////animation keyframes/////// */

@keyframes anime1{
  from{
    transform: translateY(-20px);
    opacity: 0;
  }

  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes pic1{
  0%,31%{
    left: 5%
  }

  33%{
    left: 100%
  }

  33.0000001%,100%{
    left: -100%;
  }
}

@keyframes pic2{
  0%,31%{
    left: -100%
  }

  33%,61%{
    left: 5%
  }

  65%{
    left:100%;
  }

  65.00000001%,100%{
    left: -100%
  }
}

@keyframes pic3{
  0%,61%{
    left: -100%
  }

  65%,96%{
    left: 5%
  }

  99%{
    left: 100%
  }

  99.00000009%{
    left: -100%
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes cube{
  from{
    transform: translateX(-10%)
  }

  to{
    transform: translateX(20%)
  }
}

/* //////////////////////////////////////////////////////////////////////layer////////////// */

.\*\:row > * {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .md\:center {
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .lg\:center {
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1536px) {
  .\32xl\:container {
    width: 100%;
  }

  @media (min-width: 640px) {
    .\32xl\:container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .\32xl\:container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .\32xl\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .\32xl\:container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .\32xl\:container {
      max-width: 1536px;
    }
  }
}

.\*\:mb-6 > * {
  margin-bottom: 1.5rem;
}

.\*\:flex > * {
  display: flex;
}

.\*\:h-\[25\%\] > * {
  height: 25%;
}

.\*\:w-28 > * {
  width: 7rem;
}

.\*\:w-full > * {
  width: 100%;
}

.\*\:items-center > * {
  align-items: center;
}

.\*\:justify-start > * {
  justify-content: flex-start;
}

.\*\:justify-center > * {
  justify-content: center;
}

.\*\:border > * {
  border-width: 1px;
}

.\*\:p-2 > * {
  padding: 0.5rem;
}

.\*\:ps-\[15\%\] > * {
  padding-inline-start: 15%;
}

.\*\:text-left > * {
  text-align: left;
}

.\*\:text-lg > * {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.\*\:capitalize > * {
  text-transform: capitalize;
}

.\*\:text-black > * {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.\*\:text-gray-700 > * {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.before\:invisible::before {
  content: var(--tw-content);
  visibility: hidden;
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:bottom-0::before {
  content: var(--tw-content);
  bottom: 0px;
}

.before\:bottom-8::before {
  content: var(--tw-content);
  bottom: 2rem;
}

.before\:left-3::before {
  content: var(--tw-content);
  left: 0.75rem;
}

.before\:left-4::before {
  content: var(--tw-content);
  left: 1rem;
}

.before\:right-0::before {
  content: var(--tw-content);
  right: 0px;
}

.before\:flex::before {
  content: var(--tw-content);
  display: flex;
}

.before\:h-0\.5::before {
  content: var(--tw-content);
  height: 0.125rem;
}

.before\:h-1::before {
  content: var(--tw-content);
  height: 0.25rem;
}

.before\:h-8::before {
  content: var(--tw-content);
  height: 2rem;
}

.before\:h-9::before {
  content: var(--tw-content);
  height: 2.25rem;
}

.before\:w-10\/12::before {
  content: var(--tw-content);
  width: 83.333333%;
}

.before\:w-8::before {
  content: var(--tw-content);
  width: 2rem;
}

.before\:w-9::before {
  content: var(--tw-content);
  width: 2.25rem;
}

.before\:w-\[90\%\]::before {
  content: var(--tw-content);
  width: 90%;
}

.before\:translate-x-5::before {
  content: var(--tw-content);
  --tw-translate-x: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:translate-y-5::before {
  content: var(--tw-content);
  --tw-translate-y: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:rotate-45::before {
  content: var(--tw-content);
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:rotate-\[40deg\]::before {
  content: var(--tw-content);
  --tw-rotate: 40deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:bg-blue-300::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity, 1));
}

.before\:bg-orange-600::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity, 1));
}

.before\:bg-org2::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(209 71 17 / var(--tw-bg-opacity, 1));
}

.before\:bg-slate-500::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity, 1));
}

.before\:bg-white::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.before\:opacity-0::before {
  content: var(--tw-content);
  opacity: 0;
}

.before\:opacity-60::before {
  content: var(--tw-content);
  opacity: 0.6;
}

.before\:opacity-65::before {
  content: var(--tw-content);
  opacity: 0.65;
}

.before\:transition-\[\.8s\]::before {
  content: var(--tw-content);
  transition-property: .8s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.before\:transition-all::before {
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.before\:duration-150::before {
  content: var(--tw-content);
  transition-duration: 150ms;
}

.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content);
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-0::after {
  content: var(--tw-content);
  bottom: 0px;
}

.after\:bottom-10::after {
  content: var(--tw-content);
  bottom: 2.5rem;
}

.after\:left-8::after {
  content: var(--tw-content);
  left: 2rem;
}

.after\:left-\[5\%\]::after {
  content: var(--tw-content);
  left: 5%;
}

.after\:right-0::after {
  content: var(--tw-content);
  right: 0px;
}

.after\:right-\[8\%\]::after {
  content: var(--tw-content);
  right: 8%;
}

.after\:top-\[70\%\]::after {
  content: var(--tw-content);
  top: 70%;
}

.after\:top-\[90\%\]::after {
  content: var(--tw-content);
  top: 90%;
}

.after\:flex::after {
  content: var(--tw-content);
  display: flex;
}

.after\:h-1::after {
  content: var(--tw-content);
  height: 0.25rem;
}

.after\:h-16::after {
  content: var(--tw-content);
  height: 4rem;
}

.after\:h-2::after {
  content: var(--tw-content);
  height: 0.5rem;
}

.after\:h-8::after {
  content: var(--tw-content);
  height: 2rem;
}

.after\:w-14::after {
  content: var(--tw-content);
  width: 3.5rem;
}

.after\:w-16::after {
  content: var(--tw-content);
  width: 4rem;
}

.after\:w-2\/3::after {
  content: var(--tw-content);
  width: 66.666667%;
}

.after\:w-8::after {
  content: var(--tw-content);
  width: 2rem;
}

.after\:translate-x-5::after {
  content: var(--tw-content);
  --tw-translate-x: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:translate-y-5::after {
  content: var(--tw-content);
  --tw-translate-y: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:rotate-\[50deg\]::after {
  content: var(--tw-content);
  --tw-rotate: 50deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:items-center::after {
  content: var(--tw-content);
  align-items: center;
}

.after\:justify-center::after {
  content: var(--tw-content);
  justify-content: center;
}

.after\:bg-blue-500::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}

.after\:bg-org1::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(237 86 26 / var(--tw-bg-opacity, 1));
}

.after\:bg-org2::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(209 71 17 / var(--tw-bg-opacity, 1));
}

.after\:bg-opacity-60::after {
  content: var(--tw-content);
  --tw-bg-opacity: 0.6;
}

.after\:text-3xl::after {
  content: var(--tw-content);
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.after\:font-bold::after {
  content: var(--tw-content);
  font-weight: 700;
}

.after\:text-lighty::after {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.after\:opacity-60::after {
  content: var(--tw-content);
  opacity: 0.6;
}

.after\:transition-\[10s\]::after {
  content: var(--tw-content);
  transition-property: 10s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.after\:transition-\[6s\]::after {
  content: var(--tw-content);
  transition-property: 6s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.after\:duration-150::after {
  content: var(--tw-content);
  transition-duration: 150ms;
}

.after\:duration-200::after {
  content: var(--tw-content);
  transition-duration: 200ms;
}

.after\:content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content);
}

.after\:content-\[\'\BB\'\]::after {
  --tw-content: '»';
  content: var(--tw-content);
}

.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-blueeee:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(81 140 189 / var(--tw-bg-opacity, 1));
}

.hover\:text-blue-400:hover {
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity, 1));
}

.hover\:before\:visible:hover::before {
  content: var(--tw-content);
  visibility: visible;
}

.before\:hover\:h-full:hover::before {
  content: var(--tw-content);
  height: 100%;
}

.before\:hover\:w-full:hover::before {
  content: var(--tw-content);
  width: 100%;
}

.before\:hover\:translate-x-0:hover::before {
  content: var(--tw-content);
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:hover\:translate-y-0:hover::before {
  content: var(--tw-content);
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:hover\:rotate-0:hover::before {
  content: var(--tw-content);
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:hover\:bg-cyan-100:hover::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(207 250 254 / var(--tw-bg-opacity, 1));
}

.before\:hover\:bg-sor2:hover::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(32 61 84 / var(--tw-bg-opacity, 1));
}

.before\:hover\:opacity-55:hover::before {
  content: var(--tw-content);
  opacity: 0.55;
}

.hover\:before\:opacity-100:hover::before {
  content: var(--tw-content);
  opacity: 1;
}

.hover\:after\:top-\[78\%\]:hover::after {
  content: var(--tw-content);
  top: 78%;
}

.hover\:after\:top-\[95\%\]:hover::after {
  content: var(--tw-content);
  top: 95%;
}

.hover\:after\:h-full:hover::after {
  content: var(--tw-content);
  height: 100%;
}

.hover\:after\:w-full:hover::after {
  content: var(--tw-content);
  width: 100%;
}

.hover\:after\:translate-x-0:hover::after {
  content: var(--tw-content);
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:after\:translate-y-0:hover::after {
  content: var(--tw-content);
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:after\:rotate-0:hover::after {
  content: var(--tw-content);
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:hover\:bg-org2:hover::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(209 71 17 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:visible {
  visibility: visible;
}

.group:hover .group-hover\:top-\[50\%\] {
  top: 50%;
}

.group:hover .group-hover\:top-\[65\%\] {
  top: 65%;
}

.group:hover .group-hover\:h-2\/6 {
  height: 33.333333%;
}

.group:hover .group-hover\:-translate-y-4 {
  --tw-translate-y: -1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:h-\[460px\] {
    height: 460px;
  }

  .md\:h-\[550px\] {
    height: 550px;
  }

  .md\:h-\[800px\] {
    height: 800px;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-1\/3 {
    width: 33.333333%;
  }

  .md\:w-1\/4 {
    width: 25%;
  }

  .md\:w-2\/12 {
    width: 16.666667%;
  }

  .md\:w-2\/5 {
    width: 40%;
  }

  .md\:w-3\/12 {
    width: 25%;
  }

  .md\:w-3\/5 {
    width: 60%;
  }

  .md\:w-4\/12 {
    width: 33.333333%;
  }

  .md\:w-\[1000px\] {
    width: 1000px;
  }

  .md\:w-\[24\%\] {
    width: 24%;
  }

  .md\:w-\[45\%\] {
    width: 45%;
  }

  .md\:w-\[47\%\] {
    width: 47%;
  }

  .md\:w-\[70\%\] {
    width: 70%;
  }

  .md\:w-\[80\%\] {
    width: 80%;
  }

  .md\:gap-x-14 {
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }

  .md\:space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .md\:space-y-12 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3rem * var(--tw-space-y-reverse));
  }

  .md\:pe-\[\.5\%\] {
    padding-inline-end: .5%;
  }

  .md\:ps-0 {
    padding-inline-start: 0px;
  }

  .md\:ps-\[\.5\%\] {
    padding-inline-start: .5%;
  }
}

@media (min-width: 1024px) {
  .lg\:mt-32 {
    margin-top: 8rem;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:h-1\/2 {
    height: 50%;
  }

  .lg\:h-80 {
    height: 20rem;
  }

  .lg\:h-\[400px\] {
    height: 400px;
  }

  .lg\:h-\[450px\] {
    height: 450px;
  }

  .lg\:h-\[500px\] {
    height: 500px;
  }

  .lg\:h-\[600px\] {
    height: 600px;
  }

  .lg\:h-auto {
    height: auto;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-1\/3 {
    width: 33.333333%;
  }

  .lg\:w-1\/4 {
    width: 25%;
  }

  .lg\:w-2\/3 {
    width: 66.666667%;
  }

  .lg\:w-3\/12 {
    width: 25%;
  }

  .lg\:w-3\/4 {
    width: 75%;
  }

  .lg\:w-\[23\%\] {
    width: 23%;
  }

  .lg\:w-\[24\%\] {
    width: 24%;
  }

  .lg\:w-\[32\%\] {
    width: 32%;
  }

  .lg\:w-\[48\%\] {
    width: 48%;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:gap-x-24 {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }

  .lg\:gap-x-36 {
    -moz-column-gap: 9rem;
         column-gap: 9rem;
  }

  .lg\:space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .lg\:space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }

  .lg\:pe-10 {
    padding-inline-end: 2.5rem;
  }

  .lg\:pe-\[10\%\] {
    padding-inline-end: 10%;
  }

  .lg\:pe-\[20\%\] {
    padding-inline-end: 20%;
  }

  .lg\:pe-\[4\%\] {
    padding-inline-end: 4%;
  }

  .lg\:pe-\[5\%\] {
    padding-inline-end: 5%;
  }

  .lg\:pe-\[500px\] {
    padding-inline-end: 500px;
  }

  .lg\:pe-\[8\%\] {
    padding-inline-end: 8%;
  }

  .lg\:ps-0 {
    padding-inline-start: 0px;
  }

  .lg\:ps-\[10\%\] {
    padding-inline-start: 10%;
  }

  .lg\:ps-\[20\%\] {
    padding-inline-start: 20%;
  }

  .lg\:ps-\[5\%\] {
    padding-inline-start: 5%;
  }

  .lg\:ps-\[7\%\] {
    padding-inline-start: 7%;
  }

  .lg\:pt-24 {
    padding-top: 6rem;
  }

  .lg\:pt-8 {
    padding-top: 2rem;
  }

  .lg\:pt-\[8\%\] {
    padding-top: 8%;
  }

  .lg\:text-\[200px\] {
    font-size: 200px;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:\*\:h-auto > * {
    height: auto;
  }

  .\*\:lg\:w-1\/2 > * {
    width: 50%;
  }

  .lg\:\*\:w-1\/2 > * {
    width: 50%;
  }

  .lg\:\*\:justify-center > * {
    justify-content: center;
  }

  .lg\:after\:left-\[76px\]::after {
    content: var(--tw-content);
    left: 76px;
  }

  .lg\:after\:w-1\/5::after {
    content: var(--tw-content);
    width: 20%;
  }
}

@media (min-width: 1280px) {
  .xl\:flex {
    display: flex;
  }

  .xl\:w-3\/12 {
    width: 25%;
  }

  .xl\:px-\[90px\] {
    padding-left: 90px;
    padding-right: 90px;
  }

  .xl\:ps-32 {
    padding-inline-start: 8rem;
  }

  .xl\:ps-\[7\%\] {
    padding-inline-start: 7%;
  }

  .xl\:text-\[60px\] {
    font-size: 60px;
  }
}

@media (min-width: 1536px) {
  .\32xl\:h-auto {
    height: auto;
  }

  .\32xl\:h-\[500px\] {
    height: 500px;
  }

  .\32xl\:h-\[\] {
    height: ;
  }

  .\32xl\:items-center {
    align-items: center;
  }
}
